# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\N_Java_spring\PersistenceLayer\jdpc_in_best_practice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
